.services {
  background-color: $c-blue;
  &__wrapper {
    position: relative;
    justify-content: space-between;
    @include maxCentered($widthPx);
    align-items: center;
    padding: 40px 10px;
    display: flex;
    height: 100vh;
  }

  &__left-side {
    grid-gap: 30px;
    display: grid;
    justify-content: center;
    width: 50%;
  }
  &__link-block {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    grid-template-columns: 3fr 1fr;
    background-color: $c-white;
    transition: $t-normal;
    align-items: center;
    max-width: 400px;
    cursor: pointer;
    display: grid;
    width: 100%;
    z-index: 1;
    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }

  &__link {
    border-right: 2px solid $c-gray-text;
    justify-content: center;
    align-items: center;
    color: $c-gray-text;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: block;
    height: 100px;
    display: flex;
  }
  &__image-block{
    position: absolute;
    right: 10px;
    z-index: 0;
  }
  &__icon {
    justify-content: center;
    align-items: center;
    max-width: 100px;
    font-size: 44px;
    display: flex;
    width: 100%;
  }
}

.right-side {
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 90px;
    color: $c-white;
    z-index: 1;
  }
}
