$color_1:#FF9900;
$fc_1:#173A56;
$fc_2:#FFFFFF;
$fc_3:#2F281E;
$fc_4:#544837;
$fs_subtitel: 18px;
$fs_text: 16px;
$fs_navigatin: 14px;
$fs_h1: 44px;
$br_links: 4px;

body {
    font-family: 'Poppins', sans-serif;
}
.main__page{
    display: block;
    margin: 0 0 30px 0;
    padding: 30px;
    text-align: center;
    font-size: $fs_h1;
    font-weight: 700;
    color: $fc_1;
    background-color: $color_1;
  }
.wrapper {
    
    padding-top: 20px;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding: 16px 140px;
    margin: 0 0 30px 0;

		// &__row {
        //     display: inline-flex;
		// }

		&__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		&__logo {
            font-size: 25px;
            font-weight: 700;
            color: $fc_1;
            padding-right: 300px;
            
            
		}
        &__logo::before{
            content: url(../img/logo/Bitmap.svg);
                height: 30px;
                width: 30px;
                display: inline-block;
                margin-right:10px;
                vertical-align: middle;
        }
		&__list {
            display: flex;
            
            
		}
        li{
            
            a{
                font-size: $fs_navigatin;
                font-weight: 400;
                color: $fc_3;
                padding: 0 20px;
            }
        }
        &__link {
            
            .link__left{
                border: 1px solid #BCD0E5;
                font-size: $fs_text;
                color: $fc_1;
                padding: 10px 24px;
                border-radius: $br_links;
                margin-right: 10px;
                display: inline-block;
            }
            .link__right{
                background-color:$color_1;
                font-size: $fs_text;
                color: $fc_2;
                padding: 10px 24px;
                border-radius: $br_links;
                display: inline-block;
            }
        }
        

}

.start {

    &__row {
        display: flex;
        justify-content: space-between;
        
    }

    &__title {
        font-size: $fs_h1;
        color: $fc_3;
        font-weight: 700;
        line-height: 54px;
        // padding-top: 80px;
        margin: 80px 0 30px 0;
    }

    &__text {
        font-size: $fs_subtitel;
        font-weight: 400;
        line-height: 28px;
        color: $fc_4;
        margin: 0 0 44px;
    }

    &__link {
        font-size: $fs_text;
    }

    
}
.link {
    
    &__one {
        display: inline-block;
        font-weight: 700;
        line-height: 24px;
        padding: 16px 40px;
        background-color: $color_1;
        color: $fc_2;
        border-radius: 4px;
        margin-right:30px;
    }

    &__two {
        display: inline-block;
        font-weight: 600;
        color: $color_1;
        line-height: 24px;
        text-decoration:underline;
        position: relative;
        padding: 0 0 0 30px;
        ::before{
            content: ""; 
            position: absolute;
            left: 0;
            bottom: 0;
            border: 15px solid transparent;
            border-left: 20px solid $color_1;
            border-radius: 5px;
            
        }
    }
}
.container {
    max-width: 1120px;
    margin: 0 auto;
}

.footer {
    background-color: #FF9900;

    &__row {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 20px;

    }
}

