.header {

  &__wrapper {
    border-bottom: 1px solid $c-yelow;
    margin: 0 auto 40px auto;
    position: relative;
    text-align: center;
    max-width: 450px;
    padding: 30px 0;
  }

  &__subtitle {
    font-family: $f-base;
    line-height: 24px;
    color: #898f8f;
    font-weight: 500;
    font-size: 18px;
  }

  &__title {
    font-family:$f-roboto;
    margin-bottom: 20px;
    line-height: 66px;
    font-weight: 900;
    font-size: 60px;
    color: $c-yelow;
  }

  &__item {
    position: absolute;
    background: white;
    right: 207px;
    width: 35px;
    top: 95%;
    // &::before{
    //   content: url(./img/img/bonfire_icon_10.jpg);
    //   position: absolute;
    //   top: 95%;
    //   left: 50%;
    // }
  }
}
