mixin button(args)
  - const title = args.title || 'Default text'
  - const type = args.type || 'button'
  - const classList = args.classes || 'e-button'



  button(class=classList, type=type)&attributes(attributes)
    span= title