$fs_h1: 24px;
$fw_h1: 900;
$fc_h1: #1c1c1c;
$fs_in: 15px;
$fc_in: #545454;
$fs_aten: 13px;
$fc_aten: #969696;

body {
  font-family: "Inter", sans-serif;
}
.navigation__link {
  display: block;
  padding: 30px;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  color: #173a56;
  background-color: #ff9900;
}
// !контент
.content {
  background-color: #f2f2f2;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
}
// !общие стили

.form {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  &__item {
    max-width: 245px;
    width: 100%;
    margin-bottom: 20px;
    &__title {
      font-size: $fs_in;
      color: $fc_in;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  &__input {
    border-radius: 6px;
    width: 100%;
    padding: 10px 30px 10px 5px;
    border: 1px solid #e4e4e4;
    &:focus {
      border: 1px solid #007bff;
    }
  }

  &__text {
    line-height: 18px;
    font-size: $fs_aten;
    color: $fc_aten;
  }

  &__item-wrapper {
    position: relative;
    &::before {
      content: url(../img/svg/icon_color.svg);
      position: absolute;
      top: 11px;
      right: 10px;
      display: block;
      width: 11px;
      height: 15px;
      pointer-events: none;
    }
  }
}
// ? Стили регистрации
.registration-form {
  &__title {
    font-size: $fs_h1;
    font-weight: $fw_h1;
    color: $fc_h1;
    margin-bottom: 20px;
  }

  &__gender {
    display: flex;
    margin-bottom: 12px;
  }

  &__element {
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;
  }

  &__radio {
    position: absolute;
    top: 4px;
    left: 0;
    opacity: 0;
    &:checked ~ .registration-form__element-custom::before {
      content: url(../img/svg/On.svg);
      top: 0;
      left: 0;
    }
  }

  &__element-custom {
    &::before {
      content: url(../img/svg/Background.svg);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__submit {
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    width: 500px;
    padding: 8px 10px;
    text-align: center;
    font-size: $fs_in;
    color: $fc_h1;
    background-color: #fff;
    margin-bottom: 20px;
  }

  &__footer {
    text-align: center;
    .registration-form__text {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;
    }
    & > :last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 15px;
      color: $fc_in;
    }
  }
}
.color-blue {
  color: #007bff;
}
.e-mail {
  max-width: 100%;
  margin-bottom: 20px;
}
.camera {
  position: relative;
  width: 140px;
  height: 30px;
  border: 1px solid #e4e4e4;
  padding: 10px 30px 10px 5px;
  cursor: pointer;
  border-radius: 6px;
  &::before {
    content: url(../img/svg/photo_camera.svg);
    position: absolute;
    top: 6px;
    right: 5px;
  }
}

// ? Стили профиля

.profile-form {
  &__title {
    font-size: $fs_h1;
    line-height: 32px;
    color: $fc_h1;
    font-weight: 700;
  }
  &__foto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    cursor: default;
  }

  &__element {
    padding-right: 20px;
  }

  &__image {
    width: 100%;
  }

  &__file {
    display: none;
  }
  &__input {
    display: flex;
    flex-direction: column;
  }
  &__button {
    position: absolute;
    top: 6px;
    right: 210px;
    background: none;
    height: 30px;
    width: 30px;
  }
}
// ? Footer style
.footer {
  background-color: #ff9900;
  &__row {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-size: 20px;
  }
}
