body{
  height: 300vh;
}

.reregistration-form {
  margin-top: 100px;
  transition: $t-normal;

  &__wrapper {
    
    max-width: 500px;
    height: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
  }

  &__title {
    text-align: center;
    font-size: 28px;
  }

  &__block {
  }

  &__label{
    display: flex;
    flex-direction: column;
    position: relative;

  }

  &__label-title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
  }

  &__input {
    border-radius: 20px;
    outline: none;
    &:hover{
      box-shadow: 0px 4px 10px 0px rgba($c-gray, 0.5);
    }
    &:focus{
      box-shadow: 0px 4px 10px 0px rgba($c-gray, 0.5);
      
    }
  }

  &__error{
    position: absolute;
    color: #d82a2a;
    font-size: 18px;
    bottom: 5px;
    right: 0px;
  }
  
  &__select-block{
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  &__label-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__label-checkbox-title{
    margin: 0;
  }

  &__input-checkbox {
    height: 20px;
    // position: absolute;
    margin-bottom: 0;
    // top: 8px;
    // left: -20px;

    
  }

  &__select {
    height: 36px;
  }

  &__button-block{
    display: flex;
    justify-content: center;
    
  }

  &__button{
    background: linear-gradient(-90deg,#e2ef54,#ff5c66,#6248d5);
    color: white;
    border: none;
    border-radius: 30px;
    
  }

}

.error{
  border: 2px solid red;
}

.hide{
  display: none;
}
