@import url("https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Red+Hat+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*:before,
*,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

/*--------------------*/
body {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}

.icon:not(.has-stroke) {
  stroke-width: 0;
}

*::-moz-selection {
  background-color: rgba(253, 128, 97, 0.3);
}

*::selection {
  background-color: rgba(253, 128, 97, 0.3);
}

*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(253, 128, 97, 0.8);
          box-shadow: inset 0 0 3px rgba(253, 128, 97, 0.8);
  background-color: rgba(253, 128, 97, 0.3);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px rgba(253, 128, 97, 0.8);
          box-shadow: inset 0 0 3px rgba(253, 128, 97, 0.8);
  background-color: #FD8061;
  border-radius: 10px;
  outline: none;
}

.l-common {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

ul.navigatin__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.e-button {
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 300;
  padding: 0 25px;
  font-size: 20px;
  color: #FFFFFF;
  height: 56px;
}

.e-button:hover {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

input {
  border: 1px solid #000000;
  margin-bottom: 30px;
  padding: 10px;
  height: 55px;
  width: 100%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 42px;
}

.navigation__link {
  border: 2px solid transparent;
  letter-spacing: 4px;
  position: relative;
  line-height: 16px;
  color: #000000;
  font-size: 12px;
  padding: 5px;
}

.navigation__link:hover {
  color: #000000;
}

.navigation__link:hover::before {
  border-top: 2px solid #7B7B7B;
  left: calc(50% - 18px);
  position: absolute;
  bottom: -4px;
  content: "";
  width: 36px;
}

.list-item {
  margin-right: 38px;
}

.list-item:last-child {
  margin-right: 0;
}

.card__subtitel {
  letter-spacing: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__title {
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 38px;
  min-height: 100px;
}

.card__image-block {
  margin-bottom: 30px;
  overflow: hidden;
  height: 250px;
}

.card__text {
  color: #565656;
  letter-spacing: 1px;
}

.subtitle__content {
  letter-spacing: 2px;
  font-size: 12px;
  color: #7B7B7B;
}

.logo {
  position: relative;
  z-index: 10;
  font-size: 18px;
  letter-spacing: 7px;
}

.header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 95px;
  padding-bottom: 95px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-icon {
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: #000000;
}

.header__burger {
  display: none;
}

.title {
  margin-bottom: 135px;
  margin-top: 248px;
}

.title__text {
  letter-spacing: 2px;
  font-family: "Red Hat Display", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 48px;
  word-spacing: 3px;
  max-width: 692px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title__text :first-child {
  margin-bottom: 16px;
}

.swiper {
  margin-bottom: 134px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper__image-block {
  margin-bottom: 22px;
}

.swiper-slide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 544px;
  min-width: 0;
  width: 100%;
}

.slide-text {
  letter-spacing: 1px;
}

.info_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 134px;
}

.info__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.info__icon {
  font-size: 24px;
  color: #7B7B7B;
}

.info__right-side {
  letter-spacing: 1px;
  line-height: 32px;
  max-width: 480px;
  font-size: 19px;
  color: #7B7B7B;
}

.info__right-side :last-child {
  margin-bottom: 0;
}

.info__right-side p {
  margin-bottom: 32px;
}

.left-side__text {
  margin-bottom: 32px;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: 24px;
}

.posts__wrapper {
  margin-bottom: 155px;
}

.posts__header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.posts__title {
  font-size: 24px;
  letter-spacing: 2px;
}

.posts__link {
  color: #7B7B7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 2px;
}

.posts__icon {
  margin-left: 5px;
}

.posts__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.footer {
  background-color: #F4F4F4;
}

.footer__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 128px;
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-size: 48px;
  margin-bottom: 48px;
  letter-spacing: 3px;
}

.footer__phone {
  letter-spacing: 2px;
  margin-bottom: 26px;
}

.footer__email {
  letter-spacing: 2px;
}

.footer__links-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__law-block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__law {
  letter-spacing: 1px;
  line-height: 18px;
  max-width: 208px;
  font-size: 12px;
}

.links-block__item {
  letter-spacing: 2px;
  padding: 5px;
  margin-bottom: 34px;
  color: #000000;
}

.links-block__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .list-item {
    margin-right: 20px;
  }
  .card__image-block {
    height: auto;
  }
}

@media screen and (max-width: 760px) {
  .header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo {
    font-size: 24px;
  }
  .header__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 24px;
    height: 14px;
    cursor: pointer;
    margin-left: 20px;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(86, 182, 187, 0.95);
    padding: 120px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .navigation._active {
    left: 0;
  }
  .navigation::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 2;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .navigation__list > li {
    margin: 0 auto 30px auto;
  }
  .navigation__list > li:last-child {
    margin-bottom: 0;
  }
  .navigation__link {
    font-size: 30px;
    color: #FFFFFF;
  }
  .title {
    margin-bottom: 40px;
    margin-top: 112px;
  }
  .title__text {
    font-size: 33px;
  }
  .left-side__text {
    font-size: 18px;
  }
  .card__image-block {
    height: auto;
  }
  .posts__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 350px;
    margin: 0 auto;
  }
  .footer__title {
    font-size: 38px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 640px) {
  .info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .footer__info-block {
    margin-bottom: 30px;
  }
  .links-block__item {
    margin-bottom: 25px;
  }
  .footer__links-block {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .title__text :first-child {
    margin-bottom: 0;
  }
  .info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__left-side {
    margin-bottom: 30px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .title__text :first-child {
    margin-bottom: 0;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .footer__info-block {
    margin-bottom: 30px;
  }
  .links-block__item {
    margin-bottom: 25px;
  }
  .footer__links-block {
    margin-bottom: 30px;
  }
}
