extends ./src/_extends/common

block favico
  link(rel="shortcut icon", href="./assets/favico/favicon.ico", type="image/x-icon")

block title
  title Adaptive

block style
  link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
block content
  +header()
  +title()
  +slider()
  +info()
  +posts()
  +footer()
block script 
  script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
  script(src="./index.js")