mixin message (args={})
  .message#js-message
    .message__wrapper
      .message__header
        h2.message__title.message__content Успіх! 
        +button({
          title: 'X',
          classes: 'message__btn',
          id: 'js-reload-btn'
        })
      .message__name.message__content#js-message__name Реэстрація завершена.
      .message__info.message__content#js-message__info
