.header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    justify-content: space-between;
    background-color: $c-white;
    padding-bottom: 95px;
    align-items: center;
    padding-top: 95px;
    flex-wrap: wrap;
    display: flex;
  }

  &__block {
    display: flex;
  }

  &__icon-block {
    height: fit-content;
  }
  &__search-icon {
    position: relative;
    color: $c-black;
    font-size: 16px;
    display: flex;
    z-index: 10;
  }
}
