.header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    justify-content: space-between;
    background-color: $c-white;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 95px;
    flex-wrap: wrap;
    display: flex;
  }

  &__block {
    display: flex;
  }

  &__search-icon {
    position: relative;
    z-index: 10;
    font-size: 16px;
    color: $c-black;
  }
}



.header {

  &__wrapper {
  }

  &__block {
  }

  &__burger{
    display: none;
  }

  &__navigation {
  }

  &__icon-block {
  }

  &__search-icon {
  }

  &__icon {
  }
}

.navigation {

  &__list {
  }

  &__link {
  }
}
.list-item {
}

