mixin footer()
  .footer 
    .footer__wrapper
      .footer__license © 2015 Company. All right reserved.
      .footer__logo.logo Cahee
      .footer__message Made with <a class="footer__link" href="https://youtu.be/hOhciPrZ31o?t=186">love</a> by Auskteez
      
