mixin header()
  header.header 
    .header__wrapper
      .header__logo.logo Cahee
      ul.header__menu 
        +listItem("#home","HOME")
        +listItem("#about","ABOUT")
        +listItem("#services","SERVICES")
        +listItem("#gallery","GALLERY")
        +listItem("#blog","BLOG")
        +listItem("#contact","CONTACT")
      

