mixin services ()
  .services#services
    .services__wrapper 
      .services__left-side 
        +linkBlock("#","Online Shopping","#icon-grocery-trolley-svgrepo-com")
        +linkBlock("#","Quality Product","#icon-plant-svgrepo-com")
        +linkBlock("#","Domestic & International Delivery","#icon-earth-north-svgrepo-com")
        +linkBlock("#","Well Organized","#icon-carrot-svgrepo-com")
      .services__right-side 
        h2.right-side__title Our Services
      .services__image-block
        img(src="./aseets/img/tomato.png", alt="tomato")
        