mixin content()
  .content 
    .content__arrow
      img.right-arrow(src="./img/img/angle_right_icon_104.png" alt="arrow")
    .content__arrow.content__arrow__left
      img.left-arrow(src="./img/img/angle_left_icon_105.png" alt="arrow")
    +photo()
    .line-block
      .line-block__line
    +about()