mixin photo()
  .photo 
    .photo__wrapper
      .photo__item 
        img(src="./img/img/border_52.png" alt="photo")
      .photo__border__right-top
      .photo__border__left-top
      .photo__border__right-bottom
      .photo__border__left-bottom