mixin footer()
  footer.footer 
    .footer__wrapper.container
      .footer__info-block
        .footer__title Need a project?
        .footer__phone (239) 555-0108
        .footer__email tanya.hill@example.com
      .footer__links-block 
        +link({text:"Facebook", href:"#", })(class="links-block__item")
        +link({text:"Instagram", href:"#", })(class="links-block__item")
        +link({text:"Dribbble", href:"#", })(class="links-block__item")
        +link({text:"Linkedin", href:"#", })(class="links-block__item")
      .footer__law-block
        .footer__law © Copyright Manifest Theme. Allrights reserved
        