mixin info()
  .info 
    .info_wrapper.container
      .info__left-side 
        .left-side__text 
          | Full-time UI/UX designer  <br>
          | Head of Design at VeronaLabs.com
        .ledt-side__link 
          a.e-link.info__link(href="#")
            +icon( { name:"#icon-Arrow-1", classes:"info__icon"} )
      .info__right-side 
        .right-side-text 
          p We work with clients around the world from our headquarters in Charleston, South Carolina.
          p We focus on naming, branding, brand narratives, website design and development, and brand experiences.

