mixin slider()
  .swiper.container
    //- Additional required wrapper
    .swiper-wrapper
      //- Slides
      .swiper-slide 
        +imageBlock( {src:"./assets/img/Dreamy.png",classlist:"swiper__image-block"} )
        .slide-text Dreamy
      .swiper-slide 
        +imageBlock( {src:"./assets/img/Mixkit_Inspo.png",classlist:"swiper__image-block"} )
        .slide-text Mixkit_Inspo
      .swiper-slide 
        +imageBlock( {src:"./assets/img/Abalone.png",classlist:"swiper__image-block"} )
        .slide-text Abalone
      .swiper-slide 
        +imageBlock( {src:"./assets/img/Dreamy.png",classlist:"swiper__image-block"} )
        .slide-text Dreamy