* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ! обнуляющий файл - прошу проверить и подсказать что доработать */
/*--------------------*/

body{
  background-color: seagreen;
}
.main__page{
  display: block;
  margin: 30px;
  text-align: center;
  font-size: 25px;
}
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
  background-color: white;
}

/* отцентрировал по ширине и установил по центру весь файл */
.header {
  margin: 0 auto;
  max-width: 940px;
}

.header_navigation {
  font-size: 18px;
  color: #828282;
  text-align: center;
  padding: 30px 0 30px 0;
  margin: 23px 0 33px 0;
  border-bottom: 1px solid #828282;
}

.header_titel {
  font-size: 48px;
  font-weight: 700;
  color: #070707;
  margin: 0 0 38px 0;
}

.header_image img {
  width: 940px;
}

.navigation_link {
  padding: 0 41px;
}
/* блок header */
.about {
  
  background-color: #F6F6F6;
}
.about__container{
  margin: 0 auto;
  max-width: 940px;
}
.about__title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 28px 0;
  padding: 100px 0 0 0;
}

.about__content {
  padding: 0 0 100px 0;
}

.about__text {
  font-size: 18px;
  margin: 0 0 30px 0;
}

.about__container {
  text-align: center;
  background-color: #F6F6F6;
}
/* блок about */

.skils {
  margin: 0 auto;
  max-width: 940px;
  padding: 100px 0;
}

.skils__title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
}

.skils__subtitel {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}

.skils__body {
  margin: 0 auto;
  max-width: 935px;
}

.skils__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -45px;
}

.skils__column {
  padding: 0 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25.252%;
          flex: 0 1 25.252%;
}

.skils__item {
  font-size: 14px;
  text-align: center;
}

.skils__text {
  color: #828282;
  padding: 23px 0 56px 0;
}

.skils__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skils__stars img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skils__stars .opasiti {
  opacity: 0.3;
}
/* skils block */

.portfolio {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.portfolio__title {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 65px 0;
  text-align: center;
}
.portfolio__content {
  margin: 0 auto;
  max-width: 940px;
}
.portfolio__content :nth-child(1) {
  margin: 0 0 15px 0;
}

.portfolio__content :nth-child(2) {
  margin: 0 0 100px 0;
}

.portfolio__content :nth-child(3) {
  margin: 0 0 6px 0;
}

.portfolio__content :nth-child(4) {
  margin: 0 0 110px 0;
}

.portfolio__text {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}
/* portfolio block */
.footer_container {
  margin: 0 auto;
  max-width: 940px;
  padding: 100px 0;
  text-align: center;
}

.footer__titel {
  font-size: 34px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.footer__subtitel {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 75px 0;
}

.footer a.message {
  padding: 9px 0;
  display: block;
  margin: 0 auto;
  max-width: 180px;
  border-radius: 20px;
  background-color: #070707;
}

.footer a.message span {
  font-size: 18px;
  max-width: 170px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 5px;
}

.footer a.footer_link {
  display: inline-block;
  margin: 31px 0 44px 0;
  padding: 30px;
}

.footer__text {
  font-size: 14px;
  color: #828282;
  line-height: 19px;
}
/* footer block */