// * Colors
$c-black: #000;
$c-white: #fff;
$c-text: #c2c2c2;
$c-yelow: #ffcc00;
$c-orange:#FF9900;
// Fonts
$f-base: "Raleway", sans-serif;
$f-opensans: "Open Sans", sans-serif;
$f-roboto: "Roboto", sans-serif;

// Font size
$fs-base: 14px;

// Transition
$t-normal: 0.35 cubic-bezier(0.4, 0, 0.2, 1);
